
html {
	font-size: 10px;
}
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
    --mainTransition: all 2s ease-in-out;
    --mainWhite: #f1f5f8;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	font-size: inherit;
}

img {
	display: block;
}
body {
    overflow-x: hidden;
    line-height: 1.5;
	font-size: 2rem;
}
.center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
}
/* START */

nav {
	background: #f1f5f8;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 99;
}
.btn {
	text-transform: uppercase;
	background: transparent;
	padding: 0.375rem 0.75rem;
	display: inline-block;
	font-size: 0.875rem;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
	color: #fff;
	background: red;
}

/*
=============== 
Navbar
===============
*/
.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
.nav-toggle {
	font-size: 1.5rem;
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}
.nav-toggle:hover {
	transform: rotate(90deg);
}
.logo {
	height: 40px;
}
.links a {
	text-transform: capitalize;
	display: block;
	padding: 0.5rem 2rem !important;
	/* background: green; */
}
.links a:hover {
	padding-left: 1.5rem;
}
.social-icons {
	display: none;
}
.links {
	height: 0;
	overflow: hidden;
}
.show-links {
	height: 17.5rem;
}



/* END NAVBAR CSS */
.heroBcg {
    margin-top: 70px;
    background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.5)),
        url('./images/head-background.png') center/cover no-repeat;
    width: 100vw;
    height: 70vh;
    position: relative;
    margin-top: 0;
}

.heroBcg .featured-btn {
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 25vh;
    left: 0;
    place-items: center;
}
.heroBcg .featured-btn button{
    padding: 2rem;
    outline: none;
    background: transparent;
    border: .15rem solid #333;
    border-radius: .5rem;
    letter-spacing: .2rem;
    word-spacing: .3rem;
    color: #fff;
    cursor: pointer;
    transition: all 2s ease-in-out;
}
.heroBcg .featured-btn button:hover{
    border: .15rem solid #fff;
    color: #fff;
    background: #333;
}


.facilities .section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px, 1fr);
    grid-column-gap: 1rem;
    padding: 2rem;
    margin: 1rem 0;
    grid-gap: 2rem;
}
.facilities .section .excl {
    background: #ddd;
    padding: 2rem;
    position: relative;
}
.facilities .section div .btn{
    margin: auto;
}

.facilities  .section h2 {
    text-transform: capitalize;
}
.facilities  .section img {
    width: 100%;
    height: 100%;
}
.facilities .section button {
    padding: .5rem;
    margin: 1rem 0;
    letter-spacing: .2rem;
    background: #f1f5f8;
    color: #333;
    border: .2rem solid #333;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    outline: none;
}

@media screen and (min-width: 800px) {
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.nav-header {
		padding: 0;
	}
	.nav-toggle {
		display: none;
	}
	.links {
		height: auto;
		display: flex;
	}
	.links a {
		padding: 0;
		margin: 0 0.5rem;
	}
	.links a:hover {
		padding: 0;
		background: transparent;
	}
	.social-icons {
		display: flex;
	}
	.social-icons a {
		margin: 0 0.5rem;
		color: blue;
	}
}
@media (max-width: 767px) {
    .facilities  .section {
        grid-template-columns: 1fr;
    }
}